<div class="listings-category-wrapper">

  <div class="categories-wrapper">
    <h2>Select category of interest</h2>
    <br/>

    <a href="/categories/education">
      <div class="category-card">
        <h2>Education</h2>
        <img src="http://www.uncfsu.edu/images/GraduatePrograms/education-11.jpg" alt="">
      </div>
    </a>

    <a href="/categories/recreation">
      <div class="category-card">
        <h2>Recreation</h2>
        <img src="http://www.emerycounty.com/rec/recreation.JPG" alt="">
      </div>
    </a>

    <a href="/categories/miscellaneous">
      <div class="category-card">
        <h2>Miscellaneous</h2>
        <img src="https://zwingliusredivivus.files.wordpress.com/2012/04/miscellaneous.jpg" alt="">
      </div>
    </a>
  </div>

  <div class="cards-wrapper">
    <h2>Trending Collection</h2>
    <% @listings.each do |listing| %>
    <div class="ui-wrapper">
      <div class="ui card ui-cards">
        <div class="content">
          <div class="right floated meta"><i class="compass icon"></i><%= listing.location %> </div>
          <img class="ui avatar image" src="<%= User.find(listing.user_id).avatar %>"><%= User.find(listing.user_id).name %>
        </div>
        <div class='clickable-row image' data-href='/listings/<%= listing.id %>'>
          <img src="<%= listing.image %>">
        </div>
        <div class='clickable-row content' data-href='/listings/<%= listing.id %>'>
          <span class="right floated">
            <i class="star icon"></i>
            <%= listing.description %>
            <p><i class="hourglass start icon"></i><%= listing.length %> minutes</p>
          </span>
          <i class="ticket icon"></i>
          <%= listing.name %>
          <p><i class="money icon"></i>$<%= listing.price %></p>
        </div>
        <div class="extra content">
          <div class="ui large transparent left icon input">
            <i class="heart outline icon"></i>
            <input type="text" placeholder="Add Comment...">
          </div>
        </div>
      </div>
    </div>

    <% end %>
  </div>

</div>
