<div class="header">

  <% @listings.each do |listing| %>
    <div class="ui-card">
      <header class="content">
        <span class="right"><%= listing.location %></span>
      </header>

      <div class="image">
        <img src="<%= listing.image %>" class='clickable-row' alt="" data-href='/listings/<%= listing.id %>'>
        <span class="star">&#9733;</span>
      </div>

      <div class="ui-content">
        <h3 class='clickable-row' data-href='/listings/<%= listing.id %>'><%= listing.name %></h3>
        <span><%= truncate(listing.description, length: 100) { link_to "(See more)", "#" } %></span>
      </div>

    </div>

  <% end %>
</div>
<div class="space"></div>
<div class="content">

</div>
