

<!-- link_to "edit listing 1" , "/listings/#{@listing.id}/edit" , id:'1'
-->


<!-- _________________________ Ruby ________________________ -->
<div class="listings-category-wrapper">
  <div class="categories-wrapper">
        <button class="new-listing btn btn-default btn-back-listings">
          <a href="/listings/new">
            <h3>+ Create new listing</h3>
          </a>
        </button>

<h2><a href="/categories/education"><i class="book icon"></i>Education</a></h2>
<h2><a href="/categories/recreation"><i class="music icon"></i>Recreation</a></h2>
<h2><a href="/categories/miscellaneous"><i class="map icon"></i>Miscellaneous</a></h2>

<h2>All Listings</h2>
<% @listings.each do |listing| %>
<div class="ui-wrapper">
  <div class="ui card ui-cards">
    <div class="content">
      <div class="right floated meta"><i class="compass icon"></i><%= listing.location %> </div>
      <img class="ui avatar image" src="<%= User.find(listing.user_id).avatar %>"><%= User.find(listing.user_id).name %>
    </div>
    <div class="image">
      <img src="<%= listing.image %>">
    </div>
    <div class="content">
      <span class="right floated">
        <i class="star icon"></i>
        <%= listing.description %>
        <p><i class="hourglass start icon"></i><%= listing.length %> minutes</p>
      </span>
      <i class="ticket icon"></i>
      <%= listing.name %>
      <p><i class="money icon"></i>$<%= listing.price %></p>
    </div>
    <div class="extra content">
      <div class="ui large transparent left icon input">
        <i class="heart outline icon"></i>
        <input type="text" placeholder="Add Comment...">
      </div>
    </div>
  </div>
</div>

<% end %>

</div>
</div>
<style>
  .section-ed {
    display: block;
    width: 100%;
    background-color: #3e9a82;
  }

  .section-re {
    display: block;
    width: 100%;
    height: 300px;
    background-color: #f0c79c;
  }

  .list {
    width: 25%;
    text-align: center;
    vertical-align: top;
    display: inline-block;
  }

  .list h3{
    margin-bottom: 10px;
    font-weight: bold;
  }

  .score-board {
    display: inline-block;
    width: 25%;
    text-align: center;
  }

  .score-board h3{
    margin-bottom: 10px;
    font-weight: bold;
  }
</style>
