<div class="listing-new-wrapper">
  <div class="back-btn">
    <a href="/listings"><button class="btn-back">Back</button></a>
  </div>

  <div class="listing-new-form">
    <%= form_tag '/listings' , method: 'post' do %>

      <div class="listing-name form-group">
        <input id="name" class="" name="name" type="text" placeholder="Listing Name" value="<%= @listing.name %>" >
        <p class="danger"><%= @errors[:name] %></p>
      </div>

      <div class="listing-description form-group">
        <textarea id="description" class="" type="text" name="description" placeholder="Description" rows="1" cols="60"><%= @listing.description %></textarea>
        <p class="danger"><%= @errors[:description] %></p>
      </div>

      <div class="listing-category">
        <span class="fancyArrow"></span>
        <select id="category-new" class="" name="category"  >
          <option value="education" <% if @listing.category == 'education' %> selected <% end %> >Education</option>
          <option value="recreation" <% if @listing.category == 'recreation' %> selected <% end %>>Recreation</option>
          <option value="miscellaneous" <% if @listing.category == 'miscellaneous' %> selected <% end %>>Miscellaneous</option>
        </select>
        <p class="danger"><%= @errors[:category] %></p>
      </div>

      <div class="listing-location form-group">
        <input id="location" class="" name="location" type="text" placeholder="Location" value="<%= @listing.location %>" >
        <p class="danger"><%= @errors[:location] %></p>
      </div>

      <div class="listing-price form-group">
        <input id="price" class="" name="price" type="text" placeholder="Price" value="<%= @listing.price %>" >
        <p class="danger"><%= @errors[:price] %></p>
      </div>

      <div class="listing-length form-group">
        <input id="length" class="" name="length" type="text" placeholder="Duration in minutes" value="<%= @listing.length %>" >
        <p class="danger"><%= @errors[:length] %></p>
      </div>

      <div class="listing-image form-group">
        <input id="listing-image" class="" name="image" type="text" placeholder="Image Url" value="<%= @listing.image %>">
        <p class="danger"><%= @errors[:image] %></p>
      </div>

      <div class="listing-btn">
        <button class="btn-listing">Create</button>
      </div>
    <% end %>
  </div>
</div>
