<!DOCTYPE html>
<html>
  <head>
    <title>Timeticket</title>
    <%= csrf_meta_tags %>

    <!-- Icon -->
    <link rel="icon" href="/tt.png" type="image/x-icon">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Navigation -->
    <%= render 'layouts/navbar' %>
    <!-- Flash messages -->
    <%= render 'layouts/messages' %>
    <%= yield %>

  </body>
</html>
